<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Box2_Break_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,8}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{0,14},{10,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Break_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{10,11}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{12,0},{10,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Break_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,12}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{0,0},{10,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Break_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{10,9}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{12,13},{10,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{24,24}</string>
   <key>textureFileName</key>
   <string>Box2_Break.png</string>
  </dict>
 </dict>
</plist>
