<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Box2_Hit_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,24}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Hit_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,24}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{0,26},{28,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Hit_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,24}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{30,0},{28,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Box2_Hit_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,24}</string>
    <key>spriteSourceSize</key>
    <string>{28,24}</string>
    <key>textureRect</key>
    <string>{{30,26},{28,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{60,52}</string>
   <key>textureFileName</key>
   <string>Box2_Hit.png</string>
  </dict>
 </dict>
</plist>
