<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RockHead_LeftHit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_LeftHit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{27,0},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_LeftHit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{54,0},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_LeftHit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{83,0},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RockHead_LeftHit.png</string>
            <key>size</key>
            <string>{114,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b8e9ece43c3a5329da6b859ddfebbb:f893b455ee0a528e46881d9a4c258f6c:05ebce983c4002e2582005e2aa69db51$</string>
            <key>textureFileName</key>
            <string>RockHead_LeftHit.png</string>
        </dict>
    </dict>
</plist>
