<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fan_On_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fan_On_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{24,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fan_On_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{48,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fan_On_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{72,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fan_On.png</string>
            <key>size</key>
            <string>{96,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d3e04a6c1574b0e3e5dff444dd95769:4221a6917fc3fb9a412f7de4c5e961cd:da19ce18fc52375cbe3badefd45de226$</string>
            <key>textureFileName</key>
            <string>Fan_On.png</string>
        </dict>
    </dict>
</plist>
