<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Trampoline_Jump_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{30,0},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{0,30},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{30,30},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{60,0},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{0,60},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{0,60},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Trampoline_Jump_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{30,60},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{90,90}</string>
   <key>textureFileName</key>
   <string>Trampoline_Jump.png</string>
  </dict>
 </dict>
</plist>
