<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RockHead_BottomHit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_BottomHit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{0,27},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_BottomHit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{0,54},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockHead_BottomHit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{0,83},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RockHead_BottomHit.png</string>
            <key>size</key>
            <string>{42,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88344a2de9a90cc9f26366f929147719:55819abe4f53835514a0f88a71fa1f0e:880d868f40c3e2f2d68a11fbc5d0259b$</string>
            <key>textureFileName</key>
            <string>RockHead_BottomHit.png</string>
        </dict>
    </dict>
</plist>
