<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Checkpoint_FlagOut_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,47},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,47},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{106,0},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{106,0},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{12,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,48},{12,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{12,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,48},{12,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{14,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{48,48},{14,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{14,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{48,48},{14,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{18,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,0},{18,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{18,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,0},{18,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-9}</string>
    <key>spriteSize</key>
    <string>{20,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{26,48},{20,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{14,45}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,0},{14,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-9}</string>
    <key>spriteSize</key>
    <string>{20,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{26,48},{20,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-9}</string>
    <key>spriteSize</key>
    <string>{24,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,48},{24,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-9}</string>
    <key>spriteSize</key>
    <string>{24,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,48},{24,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{26,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,0},{26,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{26,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,0},{26,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{14,45}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,0},{14,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{14,45}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,0},{14,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,47},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{94,0},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{94,0},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{94,48},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagOut_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-9}</string>
    <key>spriteSize</key>
    <string>{10,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{78,47},{10,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{118,96}</string>
   <key>textureFileName</key>
   <string>Checkpoint_FlagOut.png</string>
  </dict>
 </dict>
</plist>
