<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Checkpoint_FlagIdle_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{32,0},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{32,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{32,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,0},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,0},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Checkpoint_FlagIdle_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,48},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{96,96}</string>
   <key>textureFileName</key>
   <string>Checkpoint_FlagIdle.png</string>
  </dict>
 </dict>
</plist>
